@font-face {
    font-family: Lobster;
    src: local(Lobster-Regular), url(../assets/fonts/Lobster-Regular.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: GothamPro;
    src: local(GothamProMed), url(../assets/fonts/GothaProMed.otf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: GothamProRegular;
    src: local(GothamProReg), url(../assets/fonts/GothaProReg.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}